# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Spring Boot
*.jar
*.war

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Flattened POM
.flattened-pom.xml

# Environment
.env
.env.local
